/* 1rem = 1em = 16px */

/* 1360px  / 16 = 85 For Smaller Computers / Laptops */
@media screen and (max-width: 86em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/* 1200px  / 16 = 75 For Smaller Landscape Tablets */
@media screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.8rem;
    padding: 1.4rem 2.4rem;
  }
  /* .testimonials {
    grid-template-columns: repeat(1, 1fr);
  } */
}

/* 960px  / 16 = 60 For Tablet Devices */

@media screen and (max-width: 60em) {
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    gap: 6.4rem;
    padding: 0 8rem;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .hero-img {
    max-width: 70%;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.2rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testimonials {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta-grid-box {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: repeat(1, 1fr);
  }
  .cta-form button {
    margin-top: 2.4rem;
  }
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
    padding: 1.2rem 2rem;
  }
  .list {
    gap: 1.2rem;
  }

  /* Mobile Nav  */
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Move it to right to screen */
    transform: translateX(100%);

    transition: all 0.5s ease-in;

    /* Hidden by default
    display: none; */

    /* Hide the element visually */
    opacity: 0;
    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* Hide it from screen readers */
    visibility: hidden;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav-close {
    display: block;
  }
  .nav-open .icon-mobile-nav-open {
    display: none;
  }
}

/* 720px  / 16 = 45 For Smaller Tablet Devices */

@media screen and (max-width: 46em) {
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }
  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }
  .nav-col {
    grid-row: 1;
    grid-column: span 2;

    margin-bottom: 3.2rem;
  }
}

/* 720px  / 16 = 45 For Smaller Tablet Devices */

@media screen and (max-width: 46em) {
}
